body{
    background-color: rgb(43, 43, 43) ;
}

.navbar-brand {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-logo {
    object-fit: contain;
    max-height: 190%;
    width: 220;
}

#formulario-perguntas{
    margin-top: 5vh;
}


label{
    color: white
}

h1 {
    color: white;
}

h3 {
    color:  white;
}